*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-family: 'Patrick Hand',serif;
    scroll-behavior: smooth;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
a{
  text-decoration: none;
  color: black;
}
  :root{
    --fontsmal:1.3rem;
    --fontmedium:1.6rem;
    --font-large:2rem;
    --font-xlarge:4rem;
    --color:lavenderblush;
    --center:center;
    --margin--:1rem;
    --padding-inline:1rem;
    --align-items:center;
    --margin-bottom:4.3rem;
  }
  .smallfont{font-size: var(--fontsmal);}
  .mediumfont{font-size: var(--fontmedium);}
  .largefont{font-size: var(--font-large);}
  .xlfont{font-size: var(--font-xlarge);}
  .center{text-align: center;}
  .margin-block{margin-block: 1rem;}
  .padding-inline{padding-inline: 1rem;}
.align-center{align-items: center;}
  .flex{
    display: flex;
    gap: 1rem;
  }
  .justify{
    justify-content: space-between;
  }
.header{
  background:#fff;
  padding: 1rem 0 1rem 1rem;
height: 80px;
}

.logo img{
  width: 84px;
}
  .logo{
background: transparent;
  }

  
  
  .search{
    font-weight: 900;
    letter-spacing: 1px;
    padding: .5rem 0 .5rem 1rem;
    background: transparent;
    color: rgb(27, 27, 27);
   border: none;
   outline: transparent;
  }


  li{
    list-style: none;
  }

  #open,#close{
    font-size: var(--fontmedium);
    color: black;
    cursor: pointer;
  }

  #close{
    display: none;
  }
  .primary-nav{
position: absolute;
top: 5rem;
left: 0;
right: 0;
z-index: 999;
transform: scaleY(0);
transform-origin: top;
height: 100%;
background-size: cover;
background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/nav/se-image-73a33b92189407ee6c6068427c14197b.jpg);
transition: transform 500ms ease-in-out;
  }

  .toggleNav{
    transform: translate(0);
  }
  .primary-navigation{
    padding-left: 5rem;
padding-top: 3rem;
  }
  
  .main-menu{
    color: lavenderblush;
  }
  
  .main-menu>span{
    font-size: var(--font-xlarge);
    font-weight: 900;
    margin-block: .5rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .sub-nav{
    font-size: var(--fontsmal);
padding-inline: 2rem;
display: none;
color: #a7aaa7;
flex-wrap: wrap;
opacity:1;
text-align: left;
text-transform: capitalize;
  }
  .sub-nav>li{
    padding-left: 1rem;
    cursor: pointer;
  }
li:hover .sub-nav{
  display: flex;
}

.sub-nav>li:hover{
  color: #ffffff;
}

.main-content{
  width: 100%;
  background-size: cover;
  height: 80%;
  background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-d37f5243f6ae21dcfb1fbf28dfe261f5.jpg);
  color: white;
}

.main-container{
  padding:5rem 8.7rem 1.25rem;
  text-align: left;
}

.btn{
  position: relative;
  padding: .5rem 1rem;
background: transparent;
border: 1.5px solid white;
z-index: 1;
margin-top: 1.5rem;
font-size: var(--fontsmal);
text-transform: uppercase;
font-weight: 400;
color: white;
}

.btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
z-index: -1;
transition: transform 300ms ease-in-out;
background:hsl(0, 0%, 0%);
transform: scaleX(0);
transform-origin: right;
}
.btn:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.disclaimer{
 text-align: center;
  padding: 1rem;
  background: gray;
  font-size: 1.1rem;
  color: lavenderblush;
  font-weight: 900;
}

.models{
  padding-block: 100px 40px;
  width: 100%;
  text-align:left;
  text-transform: uppercase;
}

.model-container{
margin-inline: 6rem;
text-align: left;
}
.title{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
}
.collage-col{
  display: grid;
 grid-template-columns: repeat(2,1fr) ;
  gap: 1rem;
}
.img-col {
  position: relative;
  color: lavenderblush;  
}

.img-col img{
  width: 100%;
}

figcaption{
position: absolute;
left: 0;
bottom: 0;
right: 0;
font-size: 14px;
padding-block: .3rem;
padding-left: .8rem;
background: rgba( 0 , 0 ,0,0.5);
}
.img-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: linear-gradient(45deg,hsl(0, 0%, 0%,.4),hsl(0, 0%, 0%,.4));
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 350ms ease-in-out;
}
.img-col:hover .img-overlay{
  transform: scaleY(1);
}
.universe-col{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}



.news-text-col{
  padding:1.3rem 8.7rem 1.3rem 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.news-inner-text h3{
margin-bottom: 1em;
text-transform: uppercase;
font-size: 1.25rem;
}

.news-link-text{
  margin-top: auto;
}
.news-link-text a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  position: relative;

}
.news-link-text a::after{
  content: '';
  height: 1px;
position: absolute;
bottom: 0;
left: 0;
margin-bottom:-7px;
width: 100%;
transform: scaleX(0);
transform-origin: right;
background:brown;
transition: transform 300ms ease-in-out;
}
.news-link-text a:hover::after{
  transform-origin: left;
  transform: scaleX( 1);
}



.gallery-col{
  padding-block: 2rem;
}
.news-col2{
  flex-direction: column;
position: relative;
margin-bottom: 1rem;
}
.news-text-col2{
  padding: 1.3rem .5rem 4rem 1.3rem;
  display: flex;
  flex-direction: column;
}
.news-text-col2>.news-link-text{
  position: absolute;
   bottom: 0;
   }

.small-detail{
  display: flex;
  gap: .5rem;
  font-size: .8rem;
  text-transform: uppercase;
}

.view-all-news{
  text-align: center;
 margin-top: 3rem;
}
.view-all-news a{
  padding-inline: 5rem;
  border-top: 1px solid black;
padding-top: .8rem;
font-size: var(--fontsmal);
}
.view-all-news a i {
  margin-left: 1rem;
}

.social-col{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(23rem,1fr));
  gap: 1rem;
  font-size: 1rem;
 grid-auto-rows: 30rem;
}

.fa-heart{
  position: absolute;
  top: 1rem;
  left: 1rem;
font-size: 1.2rem;
color: lavenderblush;
z-index: 1;

}
.ab-right{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: lavenderblush;
  z-index: 1;
  font-size: 1.2rem;
}

.overlay-text{
  position: absolute;
  font-size: clamp(.9rem,0.5vw + 0.5rem, 1.1rem);
  bottom: .5rem;
 left: 1rem;
 right: 1rem;
 opacity: 0;
  transition: all 350ms ease-in-out;
  z-index: 1;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg,hsla(0, 0%, 2%, 0.5),hsl(341, 100%, 23%,.45),hsl(16, 100%, 50%,.5));
  transform: scaleX(0);
  backdrop-filter: blur(.25rem);
  transform-origin:left;
  transition: transform  350ms ease-in-out;
}
.img-col:hover .overlay{
transform: scaleX(1);
}
.img-col:hover .overlay-text{
opacity: 1;
bottom: 2rem;
}
.img-col img {
object-fit: cover;
max-width: 100%;
height: 100%;
}
.logoslider{
  padding: 5rem 8.7rem;
  background: #f5f5f5;
  display: block;
}
.logoslider-innerwrap{
  display: flex;
  flex-direction: column;
}
.logoslider header{
  align-self: center;
  margin-bottom: 4.3rem;
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-family: 'Marvel';
}

.logoslider-slider{
  margin-bottom: 3.375rem;
}
.slick-list{
  width: 60.93rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.logoslider-col{
  width: 20.31rem;
}
.logoslider-slide>img{
  margin-inline: auto;
}

.footer{
 background: hsl(0, 0%, 0%);
  width: 100%;
  padding: 1.8rem 1.3rem;
  font-size: .9rem;
}
.footer-nav{
  position: relative;
  color: lavenderblush;
  text-transform: uppercase;
}
.footer-nav i{
  font-size: 1.5rem;
  transition: transform 350ms ease-in-out;
  color: lavenderblush;
}
.footer-nav i:hover{
  transform: scale(.9);
  color: gray;
}
.footer-nav ul{
  justify-content: center;
  flex-flow: wrap;
  gap: 2.5rem;
 
}

.back-to-top{
  position: absolute;
  right: 10rem;
}
.back-to-top span i{
  padding-left: 1rem;
}

.copyright{
  margin: 1.25rem 0;
  text-align: center;
 
}
.footer-shorts-link{
  margin: 2.5rem 0 .5rem 0;
}
.footer-link-ul li  a{
  color: lavenderblush;
  position: relative;
}
.footer-link-ul li a::after{
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -7px;
  width: 100%;
  background: brown;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
.footer-link-ul  li a:hover::after{
  transform: scale(1);
}
